[Unit]
Description=Flowers Rails App
After=network.target

[Service]
Type=simple
User={{ ansible_facts['user_id'] }}
WorkingDirectory={{ ansible_facts['env']['HOME'] }}/app
Environment=RAILS_ENV=production
Environment=RAILS_SERVE_STATIC_FILES=true
Environment=PATH={{ bundle_bin | dirname }}:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
EnvironmentFile={{ ansible_facts['env']['HOME'] }}/.flowers_secret_env
ExecStart={{ bundle_bin }} exec rails server -p {{ app_port }} -b 0.0.0.0 -e production
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=flowers

[Install]
WantedBy=multi-user.target
