[Unit]
Description=Flowers Rails App
After=network.target

[Service]
Type=simple
User={{ ansible_user_id }}
WorkingDirectory={{ ansible_env.HOME }}/app
Environment=RAILS_ENV=production
Environment=RAILS_SERVE_STATIC_FILES=true
Environment=PATH={{ bundle_bin | dirname }}:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
EnvironmentFile={{ ansible_env.HOME }}/.flowers_secret_env
ExecStart={{ bundle_bin }} exec rails server -p {{ port }} -b 0.0.0.0 -e production
Restart=always
RestartSec=5
StandardOutput=append:{{ ansible_env.HOME }}/app.log
StandardError=append:{{ ansible_env.HOME }}/app.log

[Install]
WantedBy=multi-user.target
